<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Map Display of Datasets</title>
        <meta charset="utf-8" />
        <link
            rel="stylesheet"
            href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"
        />
    </head>
<body>
    <div id="map" style="width: 99.7%;  position: absolute; top: 0; bottom: 0; margin: auto"></div>
    <script
        src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js">
    </script>
    <script>
         // center of the map
        let center = [{{  ul_lat }}, {{ ul_lng }}];

        // Create the map
        let map = L.map('map').setView(center, 7);

        // Set up the OSM layer
        L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {maxZoom: 20,
            subdomains:['mt0','mt1']}).addTo(map);

        if ("{{ is_earth_daily }}" === "True") {
            let imageUrl = '{{ file_path }}';
            let imageBounds = [[{{ lr_lat }}, {{ lr_lng }}], center];
            L.imageOverlay(imageUrl, imageBounds).addTo(map);
            L.imageOverlay(imageUrl, imageBounds).bringToFront();
        }
        else if ("{{ is_point }}" === "True") {
            let marker = L.marker(center).addTo(map)
            marker.bindPopup("{{ mname }}" + ": " + "{{ mdesc }}");
        }
        else if ("{{ vector }}" === "True") {
            let bounds = [[{{ lr_lat }}, {{ lr_lng }}], center];
            let shape = L.rectangle(bounds, {color: "#8e44ad", weight: 3}).addTo(map);
            shape.bindPopup("{{ mname }}" + ": " + "{{ mdesc }}");
        }

    </script>
</body>
</html>