<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Map Display of Datasets</title>
        <meta charset="utf-8" />
        <link
            rel="stylesheet"
            href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css"
        />
    </head>
<body>
    <div id="map" style="width: 100%; height:900px; margin:0 auto"></div>
    <script
        src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js">
    </script>
    <script>
         // center of the map
        let center = [{{  ul_lat }}, {{ ul_lng }}];

        // Create the map
        let map = L.map('map').setView(center, 7);

        // Set up the OSM layer
        L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {maxZoom: 20,
            subdomains:['mt0','mt1']}).addTo(map);

        let imageUrl = '{{ file_path }}',
        imageBounds = [[ {{ lr_lat }}, {{ lr_lng }}], center];

        L.imageOverlay(imageUrl, imageBounds).addTo(map);
        L.imageOverlay(imageUrl, imageBounds).bringToFront();
    </script>
</body>
</html>